#Pcenter {
    text-align: center;
}

#Divcentered {
    text-align: center;
}

#Pred1 {
    color: red;
}

#DivYellow1 {
    background-color: yellow;
}

#DivYellow2 {
    background-color: yellow;
    color: red;
}

#span {
    background-color: yellow;
}

.pcontact {
    text-align: center;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .yclass:hover {
    background-color: palevioletred;
  }

  .hg1:nth-child(2n+0) { 
    background-color: cyan;
    }